@model Accounts.Model.Model.CompoundItemIngredient

<h2>Edit Compound Item</h2>
<hr />
@using (Html.BeginForm("Edit", "CompoundItemIngredients", FormMethod.Post, new { @id = "frmitems" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Compound Item </label>
            <div class="col-md-10">
                @Html.DropDownList("CompoundItemId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CompoundItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="dvitemexistmsg"></div>
        <div class="panel panel-default">
            <div class="panel-heading">Compound Item Ingridents</div>
            <div class="panel-body">
                <div class="col-md-12   table-responsive">
                    <table class="table table-bordered table-hover table-condensed  table-responsive table-striped ">
                        <tr>
                            <td class="col-md-4">Item</td>
                            <td class="col-md-4">Quantity</td>
                            <td width="50"></td>
                        </tr>
                        <tr>
                            <td>@Html.DropDownListFor(model => model.ItemId, new SelectList(ViewBag.ItemId, "Value", "Text"), new { @class = "form-control" })</td>
                            <td><input type="text" id="UnitQuantity" class="form-control  txtOrderPrice" maxlength="7" placeholder="Unit Quantity" value="0" /> </td>
                            <td>
                                <a href="#" class="glyphicon glyphicon-pencil btnadd" id="btnadd" title="Add"></a>
                                <a href="#" class="glyphicon glyphicon-edit btnupdate" id="btnupdate" title="Edit" style="display:none;"></a>
                                <a href="#" class="glyphicon glyphicon-erase btnnew" id="btnnew" title="New" style="display:none;"></a>
                            </td>
                        </tr>
                        <tbody id="tbodyorder" class="tbodyorder bordered"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-11 col-md-10">
                <input type="submit" value="Save" class="btn btn-success SaveOrder" />
            </div>
        </div>
    </div>
}


<script>

    function GetProducts(BrandId) {
        $.ajax({
            url: "/Order/GetProductByBrand",
            type: "POST",
            data: { 'BrandId': BrandId },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    if (data.productlist != null) {
                        $('#ProductId').empty().addItems(data.productlist);
                    }
                }
            },
            error: function (err) {
                alert(err)
            }
        });
    }
</script>